.Marco1 {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column; /* Asegura que todo el contenido esté apilado verticalmente */
  align-items: center;
  padding-top: 3rem; 
}
  
  .rectangulo {
     width: 1400px;
      background-color: #212844;
      border-radius: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      color: white;
    }
  
  
  .texto {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .Reloj {
    width: 15rem;
  }
  