.Header {
    grid-column: span 2; 
    display: grid;
    grid-template-columns: auto 1fr; 
    justify-items: flex-start;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
    column-gap: 60px;
}

.Logo .Megamart {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.Lupa{
    width: 25px;
    height: 23px;
    margin-left: 10px;
    
}

.Texto{
    width: 30rem;
        height: 24px;
        margin-left: 10px;
        border-radius: 100px;
       
}

.Lista{
    width: 20px;
    height: 35px;
    margin-left: 10px;
}

.Persona{
    width: 20rem;
    height: 35px;
    margin-left: 15rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.Contenedor {
    display: flex;
    gap: 10px;
    background-color:#F3F9FB;
    padding: 10px 10px;
    border-radius: 8px;
    align-items: center;
    margin-right: 100px;
  }

  .Contenedor2 {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    align-items: center;
  }




