 .Logo{
    height: 25px;
    padding-right: 25px;
   }
   
.Megamart{
    height: 25px;
    padding-right: 15px;
   }

.Lupa{
    height: 25px;
}

.texto{
    height: 25px;
}

.Lista{
    height: 25px;
    
}

.Header{
    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 66px;
    padding: 0 20px; 
        

}

.Contenedor{
display: flex;
gap: 5px; 
background-color: #d9d9d9; 
padding: 5px 10px;
border-radius: 5px;}